$stock-error-color: red;

.stock-add-item {
  border-radius: 2px;
  border-top: 3px solid #103D5D;
  background-color: rgb(237, 237, 237);
  padding: 30px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  width: 90%;
  grid-area: add-stock;
}

.stock-add-item form {
  width: 100%;
  overflow: hidden;
}

.stock-error-message {
  color: $stock-error-color;
}
