.stock-display-item {
  width: 95%;
  margin-left: 50px;
}

.stock-display-percent-up {
  color: green;
}

.stock-display-percent-down {
  color: red;
}

.stock-display-percent {
  color:black;
}

.ReactTable{
  width: 100%;
}

div.rt-resizable-header:focus{
  outline-width: 0;
}
