.app-header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
  min-width: 800px;
}

.app-header-title {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  margin-right: 400px;
}

.app-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: table;
}
